/*HEX CODES
Straw #E1CE7A
Very Pale Yellow #FBFFB9
Peach-Orange #FDD692
Light Red Ochre #EC7357
Tuscan Red #754F44
Licorice #160F0D
Ivory #FEFFF2

font-family: 'Rye', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Trade Winds', cursive;
font-family: 'Underdog', cursive;
font-family: 'Oswald', sans-serif
*/
:root {
    --straw: #E1CE7A;
    --pale-yellow: #FBFFB9;
    --peach-orange: #FDD692;
    --light-red: #EC7357;
    --tuscan-red: #754F44;
    --licorice: #160F0D;
    --ivory: #FEFFF2;
    }
    
/***************************** BODY STYLING *********************************/
body {
    margin: 0;
    padding: 0;
    color: var(--licorice);
    background-color: var(--ivory);
    font-family: sans-serif;
}

header {
    font-family: 'Rye', cursive;
    font-size: 2.5em;
}

#textLogo {
    float:left;
    position: absolute;
    top: 1%;
    margin-left: 1%;
}

section{
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
}

.page-stats {
    border: 3px solid var(--light-red);
    border-radius: 15px;
    background-color: var(--pale-yellow);
    padding: 1em;
    width: auto;
}

.griffStats{
    width: 30%;
    float:right;
}

#stats_tame, #stats_health, #stats_hunger {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.griffAtrributes {
    width: 100%; 
}
.griffAtrributes div{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.barnlist {
    height: 650px;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    left: -10%;
}
.barnlist div{
    margin: 5px;
    padding: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ivory);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-red));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tuscan-red);
}

.griffimage img {
    height: 200px;
    width: 200px;
}

.griff-image {
    float: left;
}
/***************************** BOOTSTRAP DEFAULT OVERRIDES ******************/

.btn-primary {
    background-color: var(--light-red);
    border: 1px solid var(--light-red);
}

.btn-primary:hover{
    background-color: var(--tuscan-red);
    border: 1px solid var(--tuscan-red):
}
/***************************** NAVIGATION ***********************************/
nav{
    font-family: 'Oswald', sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--light-red);
  margin-top: 65px;
  padding-left: 175px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/********************************* BARN ***************************************/
.barnGriffDisplay {
    max-width: 18rem;
}



